body{
	background: whitesmoke;
}

.main{
	padding-top: 10%;
	text-align: center;
}

.stripe{
	display:-webkit-inline-box;
}

.name{
	font-family: 'BenchNine', sans-serif;
	font-size: 2.5pc;
}

span{
	color:grey;
}

img{
	border-radius:50% 50% 50% 50%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;    
}

@media (max-width: 750px) {
  	.stripe{
		display:block;
	}

  	img{
		padding-top: 5%;
		padding-bottom: 5%;
  	}

  	.name{
		font-family: 'BenchNine', sans-serif;
		font-size: 3.5pc;
	}
}

@media only screen and (max-device-width: 720px) {
  	.stripe{
		display:block;
	}

  	img{
		padding-top: 5%;
		padding-bottom: 5%;
  	}

  	.name{
		font-family: 'BenchNine', sans-serif;
		font-size: 5pc;
	}
}